Warn if user supplied BMP per peer header flags are set incorrectly.

The second argument to the `route_monitoring` bmp-speaker command is a u8 `peer_flags` value. It was observed that the `mk_per_peer_header()` doesn't take flags as input but sets the `peer_flags` field of the constructed BMP Per Peer Header struct to 0 and so the flags argument may be ignored by the `route_monitoring` command.

On closer inspection the `route_monitoring` command constructs the BMP Per Peer Header struct itself, not via `mk_per_peer_header()`, and it **does** set the `peer_flags` field to the u8 value provided by the user.

However, there is still an issue here in that at least of the three `V`, `L` and `A` bit flags that can be set, the `V` flag value is dependent on the peer address, and the `A` bit flag should be set according to how BMP wire bytes are generated and not arbitrarily.

Specifically RFC-7854 section 4.2 Per-Peer Header says:

```
Peer Flags (1 byte): These flags provide more information about
      the peer.  The flags are defined as follows:

                              0 1 2 3 4 5 6 7
                             +-+-+-+-+-+-+-+-+
                             |V|L|A| Reserved|
                             +-+-+-+-+-+-+-+-+

      *  The V flag indicates that the Peer address is an IPv6 address.
         For IPv4 peers, this is set to 0.

      *  The L flag, if set to 1, indicates that the message reflects
         the post-policy Adj-RIB-In (i.e., its path attributes reflect
         the application of inbound policy).  It is set to 0 if the
         message reflects the pre-policy Adj-RIB-In.  Locally sourced
         routes also carry an L flag of 1.  See Section 5 for further
         detail.  This flag has no significance when used with route
         mirroring messages (Section 4.7).

      *  The A flag, if set to 1, indicates that the message is
         formatted using the legacy 2-byte AS_PATH format.  If set to 0,
         the message is formatted using the 4-byte AS_PATH format
         [RFC6793].  A BMP speaker MAY choose to propagate the AS_PATH
         information as received from its peer, or it MAY choose to
         reformat all AS_PATH information into a 4-byte format
         regardless of how it was received from the peer.  In the latter
         case, AS4_PATH or AS4_AGGREGATOR path attributes SHOULD NOT be
         sent in the BMP UPDATE message.  This flag has no significance
         when used with route mirroring messages (Section 4.7).

      *  The remaining bits are reserved for future use.  They MUST be
         transmitted as 0 and their values MUST be ignored on receipt.
```

As we might want to deliberately send invalid data to a server, only warn if the bit flags seem to be set incorrectly rather than forcing them to the correct value.

Also note that there is an inconsistency here because the `peer_up_notification` command only supports 16-bit AS numbers to be encoded in the BGP OPEN message pair that is included in the BMP Peer Up Notification message, it has no support for 32-bit AS numbers here.